@import "./_variables.scss";
@import url("https://fonts.googleapis.com/css?family=Lato:400|Indie+Flower");

body,
html {
  height: 100%;
  margin: 0;
}

body {
  font-family: "Lato";
  font-size: 0.9em;
  color: $font;
  background: $grey;
}

@import "./about_me.scss";
@import "./cv.scss";
@import "./header.scss";
@import "./nav.scss";
@import "./home.scss";

.outer-container {
  background-color: #FFFFFF;
  max-width: $container-width;
  margin: 0 auto;
}

footer {
  max-width: $container-width;
  margin: 0 auto;
}

.main-title {
  margin-bottom: 10px;
  font-size: 1.6em;
  color: $pink;
  font-weight: 700;
}

.button-container {
  margin: 10px 0;
  text-align: center;
}

a {
  text-decoration: none;
}