header {
  text-align: center;

  .title {
    font-family: 'Indie Flower', cursive;
    font-size: 4.0rem;
    font-weight: normal;
    margin: 0;
  }
  
  .subtitle {
    color: $pink;
    font-weight: normal;
    margin: 0;
    font-weight: bold;
  }
}
