nav {
  text-align: center;
  padding: 0.5rem;
  background-color: $navBg;
  opacity: 0.8;

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style-type: none;
    display: inline-block;
  }

  .nav-link {
    color: $navText;
    padding: 0 2rem;
    display: block;
  }

  .active .nav-link {
    color: $pink;
  }

  .nav-link:hover {
    color: $pink;
  }
}